*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 100wh;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 700px;
    height: 550px;
    padding: 5px 30px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px repeat(3, 140px);

    gap: 10px;
    column-gap: 20px;
}
.box{
    /* border: 1px solid #333; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 8px gray;
}
.box:hover{
    transition: 0.6s;
    box-shadow: 0 0 1px gray;
}

#box1{
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}
#box1 img{
    width: 12px;
}

.box .title{
    font-size: 16px;
    color: blue;
}
.box .heading{
    font-size: 18px;
}
.box .date{
    font-size: 12px;
    font-weight: bold;
    color: #555;
}
.box .para{
    font-size: 12px;
}
.box .link{
    align-items: baseline;
}

.box .title-2{
    font-size: 16px;
    color: rgb(61, 183, 61);
}